@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@400;500;600;700&display=swap');
:root{
    --primary-color: #37617a;
    --primary-color-dark: #0d1a20;
    --secondary-color: #fc9d50;
    --white: #ffffff;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: black;
}
body::after {
    position: fixed;
    content: "";
    height: 0;
    width: 0;
    top: 0;
    right: 0;
    background-color: rgb(153, 5, 5);
    z-index: -1;
    animation: body-bg 1s ease-in-out forwards;
}
@keyframes body-bg {
    0% {
        width: 0;
        height: 0;
    }
    100% {
        width: 50%;
        height: 100%;
    }
}
body::before {
    position: fixed;
    content: "0";
    top: 0;
    left: 0;
    transform: translate(-50%, -50%);
    font-size: 70rem;
    font-weight: 200;
    color: rgb(153, 5, 5);
    z-index: -1;
    opacity: 0.5;
    animation: moveAnimation 3s infinite alternate;
}
@keyframes moveAnimation {
    0% {
        transform: translate(-50%, -50%);
    }
    100% {
        transform: translate(-50%, -50%) translateY(5%);
    }
}
.container{
    min-height: 100vh;
    max-width: 1300px;
    margin: auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}
.nav{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
    cursor: pointer;
}
.logo span{
    font-size: 3rem;
    font-weight: 600;
}
.links{
    display: flex;
    align-items: center;
    gap: 2rem;
}
.links div{
    font-size: 1rem;
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
    transition: 0.3s;
}
.links div:hover{
    color: var(--secondary-color);
}
.links div span{
    font-size: 1.2rem;
}
.links .shopping{
    height: 50px;
    width: 50px;
    display: grid;
    place-content: center;
    border-radius: 100%;
    font-size: 1.2rem;
    color: var(--primary-color-dark);
    background-color: var(--white);
}
.content{
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
}
.image{
    width: 100%;
    animation: shoe-animation 3.5s infinite;
    overflow: hidden;
}
.image img{
    width: 100%;
    max-width: 500px;
    display: flex;
    margin: auto;
    transform: rotate(10deg);
}
@keyframes shoe-animation{
    0%{
        transform: translateY(0px);
    }
    70%{
        transform: translateY(15px);
    }
    100%{
        transform: translateY(0px);
    }
}
.header{
    position: absolute;
    top: 5rem;
    left: 26%;
    transform: translateX(-50%);
}
.header h1{
    font-size: 3rem;
    font-weight: 600;
    color: var(--white);
    transition: 0.3s;
}
.header p{
    text-align: right;
    color: var(--white);
    cursor: pointer;
    transition: 0.3s;
}
.header p:hover{
    color: var(--secondary-color);
}
.item{
    position: absolute;
    transform: rotate(-90deg);
}
.item h4{
    font-size: 2rem;
    font-weight: 600;
    line-height: 1.5rem;
    color: var(--white);
}
.item p{
    color: var(--white);
}
.contact{
    position: absolute;
    right: 0;
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--white);
    transform: rotate(90deg);
}
.contact span{
    height: 40px;
    width: 40px;
    display: grid;
    place-content: center;
    border-radius: 100%;
    font-size: 1.2rem;
    color: var(--primary-color-dark);
    background-color: var(--white);
    transform: rotate(90deg);
}
.footer{
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.socials{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.socials span{
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--white);
    cursor: pointer;
    transition: 0.3s;
}
.socials span:hover{
    color: var(--secondary-color);
}
.slides{
    font-size: 2rem;
    font-weight: 600;
    color: var(--white);
}
.slides span{
    font-size: 1rem;
    font-weight: 400;
}

@media(width < 640px){
    .links div:not(.shopping){
        display: none;
    }
    .header{
        top: 1rem;
    }
    .item{
        left: -5rem;
    }
    .contact{
        right: -4rem;
    }
}